:root {  
  --bg: #111;
  --text: #ffffff;
  --sidebar-bg: #0a0a0a;
  --menu-bg: #1a1a1a;
  --card: #1e1e1e;
  --header-bg: #000000;
  --text2: rgb(204, 204, 204);
  --text3: rgb(37, 37, 37);
}

/* ========================= */
/* MODO ESCURO */
/* ========================= */

body.dark {
  --bg: #111;
  --text: #ffffff;
  --sidebar-bg: #0a0a0a;
  --menu-bg: #1a1a1a;
  --card: #1e1e1e;
  --header-bg: #000000;
  --text2: rgb(204, 204, 204);
  --text3: rgb(37, 37, 37);
}

/* ========================= */
/* MODO CLARO */
/* ========================= */

body.light {
  --bg: #f4f4f4;
  --text: #111111;
  --sidebar-bg: #ffffff;
  --menu-bg: #f0f0f0;
  --card: #ffffff;
  --header-bg: #eaeaea;
  --text2: rgb(37, 37, 37);
  --text3: rgb(204, 204, 204);
}

/* ========================= */
/* BODY */
/* ========================= */

body {
  margin: 0;
  font-family: Arial;
  background-color: var(--bg);
  color: var(--text);
  transition: 0.3s ease;
}

/* ========================= */
/* HEADER */
/* ========================= */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: var(--header-bg);
  transition: 0.3s;
}

.titulo {
  font-style: italic;
  font-size: 50px;
  color: #b300ff;
  transition: 0.3s;
}

header h1 {
  color: #b300ff;
  letter-spacing: 2px;
  font-size: 40px;
}

/* grupo de botões */
.top-actions{
  position:absolute;
  right:20px;
  top:50%;
  transform:translateY(-50%);
  display:flex;
  gap:12px;
}

.top-actions button:hover{
  transform:scale(1.15);
  text-shadow:0 0 10px #ff00ff;
}

/* botão favoritos */
.fav-btn{
  background:none;
  border:none;
  font-size:25px;
  cursor:pointer;
}

/* botão tema */
#theme-Toggle{
  background:none;
  border:none;
  font-size:25px;
  cursor:pointer;
}

/* ========================= */
/* LAYOUT */
/* ========================= */

.layout {
  display: flex;
}

.sidebar {
  width: 190px; 
  background-color: var(--sidebar-bg);
  padding: 0 10px 0 40px;
  border-right: 3px solid #b300ff;   
  min-height: 100vh;
  transition: 0.3s ease;
}

.sidebar h2 {
  color: #b300ff;
  margin-bottom: 20px;
  margin-left: 20px;
}

.sidebar li {
  margin: 15px 0;
  background-color: var(--menu-bg);
  padding: 10px;
  border-radius: 6px;
  transition: 0.3s;
}

.sidebar li:hover {
  color: #b300ff;
}

.menu-link {
  color: var(--text);
  text-decoration: none;
  font-size: 20px;
  transition: 0.3s;
}

.menu-link:visited {
  color: var(--text);
}

.menu-link:active {
  color: white;
}

.menu-link:hover { 
  color: #b300ff;
  transform: scale(1.10);
}

/* ========================= */
/* CONTENT */
/* ========================= */

.content {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  flex: 1;
  padding: 20px;
}

main h1 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}

/* ========================= */
/* TÍTULOS */
/* ========================= */

.titulo-ofertas {
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;
}

.titulo-sobre {
  font-size: 40px;
  text-align: center;
  color: #b300ff;
  margin-bottom: 30px;
}

.explication{
  font-size: 15px;
  color: var(--text2);
  transition: 0.3s;
}

/* ========================= */
/* GRID DE CARDS */
/* ========================= */

.cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas no desktop */
  gap: 60px;
  margin-top: 20px;
  opacity: 1;
  transition: 0.5s ease;
}

.cards-grid.fade-out {
   opacity: 0; 
   transition: 0.5s ease;
}

.card-link {
  text-decoration: none;
  color: var(--text);
}

.game-title {
  color: var(--text);
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  transition: 0.3s;
}
.game-title {
  display: -webkit-box;
  -webkit-line-clamp: 4; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.game-title:hover {
  color: #b300ff;
}

.price-box {
  position: absolute;
  bottom: 35px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
  padding-bottom: 20px;
}

.price-box .old {
  text-decoration: line-through;
  color: red;
  margin-right: 10px;
  font-size: 15px;
}

.price-box .por {
  color: #b300ff;
  margin-right: 10px;
}

.expired-msg {
  position: absolute;
  bottom: 35px;
  left: 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: #7e7e7e;
  font-size: 14px;
  font-size: 18px;
  padding-bottom: 20px;
  transition: 0.3s;
}

.expired-msg:hover {
  color: red;
}

.card h3 {
  position: absolute;
  top: 0px;
  right: 0px;
  color: #00ff00;
  font-size: 30px;
  text-shadow: 2px 2px 1px #b300ff;
  margin-top: 8px;
}

.plataforma {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 16px;
  font-weight: bold;
  color: var(--text);
  transition: 0.3s;
}

.plataforma:hover {
  color: #b300ff;
}


/* ========================= */
/* CARD */
/* ========================= */

.card {
  position: relative;
  background: var(--card);
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  height: 280px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;

  /* animação de entrada */
  opacity: 0;
  transform: translateY(25px);
  animation: cardFade 0.45s ease forwards;

  /* 🔥 IMPORTANTE */
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

@keyframes cardFade{
  to{
    opacity:1;
    transform:translateY(0);
  }
}


.card:hover {
  box-shadow: 2px 2px #b300ff;
  transition: 0.3s;
  transform: translateY(-8px) scale(1.07);
  box-shadow: 0 15px 30px rgba(179, 0, 255, 0.5);
}

.card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.card h3 {
  position: absolute;
  top: 0;
  right: 0;
  color: #00ff00;
  font-size: 30px;
  text-shadow: 2px 2px 1px #b300ff;
  margin: 8px;
}

.game-title {
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}

.game-title:hover {
  color: #b300ff;
}

.novo-selo {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgb(204, 0, 255);
  color: var(--header-bg);
  font-weight: bold;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 14px;
  box-shadow: 0 0 6px rgba(0,0,0,0.3);
  transition: 0.3s;
}

/* ========================= */
/* PREÇOS */
/* ========================= */

.price-box {
  position: absolute;
  bottom: 35px;
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.price-box .old {
  text-decoration: line-through;
  color: red;
  margin-right: 10px;
}

.price-box .por {
  color: #b300ff;
  margin-right: 10px;
}

.price-box .new {
  font-weight: bold;
  color: rgb(0, 224, 0);
  font-size: 18px;
}

/* ========================= */
/* FILTROS */
/* ========================= */

.filtros {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  transition: 0.3s;
}

.filtro {
  margin: 0 15px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s;
}

.filtro.ativo {
  color: #b300ff;
}

/* ========================= */
/* BOTÕES DE PLATAFORMA */
/* ========================= */

.btn-plataforma {
  padding: 14px 22px;      /* deixa maior */
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid #333;
  background-color: #1e1e1e;
  color: #fff;
  cursor: pointer;
  transition: all 0.25s ease;
  margin: 5px;
}

/* efeito ao passar o mouse */
.btn-plataforma:hover {
  transform: scale(1.05);
  border-color: #666;
}

/* botão selecionado */
.btn-plataforma.ativo {
  background-color: #00bcd4;
  border-color: #00e5ff;
  color: #000;
  box-shadow: 0 0 10px rgba(0, 229, 255, 0.6);
}

/* ========================= */
/* PAGINAÇÃO - BOTÕES NUMÉRICOS (INTEGRADO AO TEMA)
========================= */

#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 15px 0;
  flex-wrap: wrap;
}

.page-btn {
  background: var(--card);
  color: var(--text);
  border: 2px solid transparent;

  width: 38px;         
  height: 38px;        

  padding: 0;          
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;

  display: flex;        
  align-items: center;
  justify-content: center;

  transition: all 0.25s ease;
  font-weight: bold;
}

/* hover */
.page-btn:hover {
  transform: scale(1.08);
  border-color: #b300ff;
  box-shadow: 0 0 8px rgba(179, 0, 255, 0.4);
}

/* página ativa */
.page-btn.active {
  background: #b300ff;
  color: white;
  border-color: #d34dff;
  transform: scale(1.2);
  box-shadow: 0 0 12px rgba(179, 0, 255, 0.7);
}

/* botões << e >> */
.page-btn:first-child,
.page-btn:last-child {
  font-size: 18px;
  padding: 12px 18px;
}

/* botão desabilitado */
.page-btn.disabled {
  opacity: 0.35;
  cursor: default;
  transform: none;
  pointer-events: none;
}

/* ========================= */
/* CARREGAMENTO DE JOGOS */
/* ========================= */

.vazio-card {
  background: linear-gradient(
    90deg,
    rgba(255,255,255,0.03) 25%,
    rgba(255,255,255,0.08) 50%,
    rgba(255,255,255,0.03) 75%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

.loading-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.spinner {
  width: 35px;
  height: 35px;
  border: 3px solid rgba(255,255,255,0.1);
  border-top: 3px solid #b300ff;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

@keyframes shimmer {
  0% { background-position: -200% 0; }
  100% { background-position: 200% 0; }
}


/* ========================= */
/* RODAPÉ */
/* ========================= */

.rodape {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg);
  font-size: 13px;
  color: var(--text);
  padding: 5px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.rodape-link {
  color: var(--text);
  text-decoration: none;
  font-weight: bold;
  margin-left: 60px;
  transition: 0.3s ease;
}

.rodape-link:hover {
  color: #b300ff;
}

 .rodape {
    font-size: 11px;
    transition: 0.3s ease;
  }

.versao {
  color: var(--text);
  text-decoration: none;
  margin-left: 60px;
  font-size: 14px;
  transition: 0.3s;
}
.versao:hover {
  color: #b300ff;
}

/* ========================= */
/* SOBRE */
/* ========================= */

.avatar {
  padding-top: 10px;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  object-fit: cover;
}

.btn-minycreeper {
  color: var(--text); 
  text-decoration: none;
  padding-left: 10px;
  transition: 0.3s;
}

.btn-minycreeper:hover{
  color: #b300ff; 
}

.sobre-nos {
  padding: 40px;
  max-width: 900px;
  margin: 0 auto;
  color: var(--text);
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.sobre-nos.visible { 
  opacity: 1; 
  transform: translateY(0);
}

main {
  flex: 1;
  padding: 20px;
}

main h1 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}

.titulo-sobre {
  font-size: 40px;
  text-align: center;
  color: #b300ff;
  margin-bottom: 30px;
}

.sobre-texto p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
  margin-left: 20px;
  padding-left: 20px;
  transition: 0.3s;
}

.missao-visao-valores h2 {
  color: #b300ff;
  margin-top: 25px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.missao-visao-valores p {
  font-size: 16px;
  margin-left: 20px;
}

.missao-visao-valores p {
  font-size: 16px;
  margin-left: 20px;
}

.equipe {
  color: #b300ff;
  margin-bottom: 10px;
}

.botoes-sobre {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  padding-bottom: 10px;
}

.btn-sobre {
  padding: 10px 20px;
  border: 2px solid #a100ff;
  color: #a100ff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  transition: 0.3s ease;
}

.btn-sobre:hover {
  background-color: #a100ff;
  color: #fff;
  box-shadow: 0 0 10px #a100ff;
}

.btn-sobre.ativo {
  background-color: #a100ff;
  color: #fff;
}

/* ========================= */
/* CATEGORIAS */
/* ========================= */

.filtros-categoria {
  display: flex;
  gap: 20px;
  margin: 25px 0;
}

/* ESTILO BASE */
.filtro-categoria {
  padding: 10px 26px;
  border-radius: 12px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid #b300ff;
  color: #b300ff;
  background: transparent;
}

/* BOTÃO ATIVO (igual botão preenchido da imagem) */
.filtro-categoria.ativo {
  background: linear-gradient(90deg, #a855f7, #9333ea);
  color: white;
  box-shadow: 0 0 15px rgba(168, 85, 247, 0.5);
  border: none;
}

/* HOVER */
.filtro-categoria:hover {
  transform: translateY(-3px);
}

.filtro-categoria:not(.ativo):hover {
  background: #a855f7;
  color: white;
}

.filtro {
  border: none;
  outline: none;
  background: transparent;
  color: var(--text);
}

.filtro:hover {
  color: #b300ff;
}

/* ========================= */
/* ATUALIZAÇÕES */
/* ========================= */

.versão {
  color: var(--text);
}

/* ========================= */
/* MENU MOBILE */
/* ========================= */

.menu-toggle {
  display: none;
  position: fixed;
  left: 8px;
  top: 18px;
  font-size: 22px;
  background: #a100ff;
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

/* ========================= */
/* RESPONSIVO */
/* ========================= */

@media (max-width: 768px) {

  .layout {
    display: block;
  }

  .titulo-ofertas {
    font-size: 30px;
  }

  .menu-toggle {
    display: block;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: -220px;
    width: 150px;
    height: 100%;
    z-index: 1000;
  }

  .sidebar.active {
    left: 0;
  }

  .cards-grid {
    grid-template-columns: 1fr; /* 1 coluna no celular */
    gap: 30px;
    justify-items: center;
    transition: 0.5s ease;
  }

  .titulo {
    font-size: 50px;
  }

  .rodape {
    font-size: 11px;
  }

  .page-btn {
    width: 28px; 
    height: 28px; 
    font-size: 12px; 
    border-radius: 6px; 
  }

  /* se quiser também reduzir os botões especiais (<< >>) */
  .page-btn:first-child,
  .page-btn:last-child {
    font-size: 14px;
    padding: 8px 12px;
  }

  .top-actions{
    right:10px;
    top:10px;
    gap:4px;
    margin-top: 20px;
  }

  .fav-btn{
    font-size:18px;
  }

  #theme-Toggle{
    font-size:18px;
  }
}


/* ========================= */
/* ANIMAÇÃO */
/* ========================= */

  .content {
    transition: transform 0.3s ease;
  }

  .content.shift {
    transform: translateX(60px);
   }

  .titulo {
    font-size: 50px;
  }

  .rodape {
    font-size: 11px;
    transition: 0.3s ease;
  }


  .ad-central {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px 0;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* ========================= */
/* PRELOADER ULTRA GAMER */
/* ========================= */

#preloader {
  position: fixed;
  inset: 0;
  background: radial-gradient(circle at center, #140020, #000);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 250px; 
  flex-direction: column;
  overflow: hidden;
  z-index: 9999;
  transition: opacity 0.8s ease, transform 0.8s ease;
}

/* Saída suave */
#preloader.hide {
  opacity: 0;
  transform: scale(1.15);
  pointer-events: none;
}



#preloader::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(183,0,255,0.2) 1px, transparent 1px);
  background-size: 40px 40px;
  animation: gridMove 15s linear infinite;
}

@keyframes gridMove {
  from { transform: translate(0,0); }
  to { transform: translate(-40px,-40px); }
}



.preloader-logo {
  font-size: 3rem;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 3px;
  color: #ffffff;
  animation: neonPulse 1.5s infinite alternate;
}

/* Neon mais elegante */
@keyframes neonPulse {
  from {
    text-shadow:
      0 0 5px #b300ff,
      0 0 10px #ffffff,
      0 0 20px #b300ff;
  }
  to {
    text-shadow:
      0 0 10px #b300ff,
      0 0 20px #b300ff,
      0 0 40px #b300ff;
  }
}

/* Pulso suave */
@keyframes pulseGlow {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}




@keyframes shine {
  0% { left: -100%; }
  100% { left: 100%; }
}


.loader-bar {
  width: 300px;
  max-width: 80%;
  height: 6px;
  background: rgba(255,255,255,0.05);
  border-radius: 20px;
  overflow: hidden;
  margin-top: 30px;
  margin: 30px auto 0 auto;
  position: relative;
}

.loader-bar::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 30%;
  background: linear-gradient(90deg, #b700ff, #ff00ff, #00ffff);
  background-size: 200%;
  animation: loading 1.5s infinite linear;
}

@keyframes loading {
  0% {
    left: -30%;
    background-position: 0% 0%;
  }
  100% {
    left: 100%;
    background-position: 100% 0%;
  }
}

/*ELEMENTS XD*/

#preloader h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 3rem;
  letter-spacing: 3px;
  margin-bottom: 10px;
  color: #ffffff;
  animation: neonPulse 1.5s infinite alternate;
}

@keyframes neonPulse {
  from {
    text-shadow:
      0 0 5px #b300ff,
      0 0 10px #ffffff,
      0 0 20px #b300ff;
  }
  to {
    text-shadow:
      0 0 10px #ffffff,
      0 0 20px #b300ff,
      0 0 40px #b300ff;
  }
}

/*DE GAMER PARA GAMERS*/

#preloader p {
  font-family: 'Orbitron', sans-serif;
  font-size: 1rem;
  letter-spacing: 2px;
  margin-top: 5px;
  margin-bottom: 25px;
  color: #ffffff;
  opacity: 0.85;
  text-align: center;
  width: 100%;

  text-shadow:
    0 0 5px #b300ff,
    0 0 10px #b300ff;

  animation: fadePulse 2s infinite alternate;
}

@keyframes fadePulse {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}


.preloader-icon {
  width: 140px;        
  height: 140px;
  object-fit: contain; 
  display: block;
  margin: 0 auto 25px auto;

  animation: floatIcon 2.5s ease-in-out infinite,
             pulseGlowIcon 2s infinite alternate;

  filter: drop-shadow(0 0 20px #b700ff);
}

/* Efeito flutuar gamer */
@keyframes floatIcon {
  0%   { transform: translateY(0px); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: radial-gradient(circle at 20% 30%, #b300ff33, transparent 40%),
              radial-gradient(circle at 80% 70%, #00ffff22, transparent 40%);
  animation: bgMove 10s infinite alternate ease-in-out;
  z-index: -1;
}

@keyframes bgMove {
  from { transform: translateY(0px); }
  to { transform: translateY(-30px); }
}


/* Fundo escuro */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease;
}

/* Caixa branca */
.modal-box {
  background: var(--bg);
  padding: 30px;
  width: 350px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 20px 40px #b300ff;
  animation: slideUp 0.3s ease;
}

.modal-box h2 {
  margin-bottom: 10px;
}

.modal-box .email {
  font-weight: bold;
  color: #b700ff;
  margin: 15px 0;
}

.modal-box button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background: #b300ff;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.modal-box button:hover {
  background: #b300ff;
  transform: matrix();
  transform: translateY(-3px);
  transform: scale(1.1);
}

.fechar {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 22px;
  cursor: pointer;
}

/* Animações */
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes slideUp {
  from {transform: translateY(20px); opacity: 0;}
  to {transform: translateY(0); opacity: 1;}
}


/*coração*/

.like-btn{
  position: absolute;
  bottom: 10px;
  right: 10px;

  width: 32px;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: none;
  border: none;

  font-size: 26px;

  color: var(--text);

  transform: scale(1);
  transition: transform 0.15s ease;
}

/* hover */
.like-btn:hover{
  transform: scale(1.1);
}

/* quando clicado */
.like-btn.liked{
  color: red;
  transform: scale(1.12);
}

.likes-count{
  position: absolute;
  bottom: 12px;
  right: 45px;
  padding-bottom: 2px;

  font-size: 14px;
  font-weight: bold;

  color: white;

  pointer-events: none;
}

/*RESET DE LIKES*/
.btn-reset {
  padding: 5px 10px;
  border: 2px solid #a100ff;
  color: #a100ff;
  background: transparent;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

/* hover igual seus botões */
.btn-reset:hover {
  background-color: #a100ff;
  color: #fff;
  box-shadow: 0 0 10px #a100ff;
  transform: scale(1.05);
}

/*Quente*/
.hot-card {
  position: relative;
  border-radius: 10px;
  z-index: 0;
}

.hot-selo {
  position: absolute;
  top: 2px;
  left: 2px;

  z-index: 3; /* 🔥 MUITO IMPORTANTE */

  background: linear-gradient(45deg, #b300ff, #aa00c8);
  color: white;
  font-weight: bold;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 16px;
}

/* 🔥 BORDA NEON ANIMADA */
.hot-card::before {
  content: "";
  position: absolute;
  inset: -2px; /* espessura da borda */

  background: conic-gradient(
    from 0deg,
    #b300ff,
    #ff00ff,
    #f64fff,
    #d470ff
  );

  border-radius: inherit;

  animation: neonRotate 10s linear infinite;

  z-index: -1;
}

/* 🔥 "MÁSCARA" PRA VIRAR BORDA */
.hot-card::after {
  content: "";
  position: absolute;
  inset: 2px;
  background: var(--card);
  border-radius: inherit;
  z-index: -1;
}

/* 🔁 ANIMAÇÃO */
@keyframes neonRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



/*Texto index*/
.info-site{
  display:flex;
  align-items:center;
  gap:40px;
  padding:40px;
}

.logo-box img{
  width:200px;
}

.texto-box{
  max-width:600px;
}

body.dark .texto-box h3{
  color:#b300ff;
  margin-bottom:10px;
  font-size:32px;

  animation: sombraBranca 3s infinite alternate;
}

@keyframes sombraBranca{

  0%{
    text-shadow:

      0 0 6px #4b4b4b,
      0 0 12px #4b4b4b;
  }

  100%{
    text-shadow:

      0 0 10px #4b4b4b,
      0 0 20px #4b4b4b;
  }

}

body.light .texto-box h3{
  animation: none;
  text-shadow: none;
  color:#b300ff;
  margin-bottom:10px;
  font-size:32px;

}


.texto-box p{
  color: var(--text2);
  line-height:1.6;
}

.info-site{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:50px;
  padding:50px;
}

body.dark .logo-box img{
  width:200px;
  animation: logoFloat 5s ease-in-out infinite;
  filter: drop-shadow(0 0 10px #b300ff);
}

@keyframes logoFloat{
  0%{
    transform: translateY(0px);
  }

  50%{
    transform: translateY(-10px);
  }

  100%{
    transform: translateY(0px);
  }
}

body.light .logo-box img{
  filter: none;
  width:200px;
  animation: logoFloat 5s ease-in-out infinite;

}


.texto-box{
  max-width:500px;
  transition-delay:0.3s;
}

.features-box{
  display:flex;
  flex-direction:column;
  gap:12px;
  transition-delay:0.5s;
}

.feature{
  background: var(--card);
  padding:10px 15px;
  border-radius:8px;
  border:1px solid #b300ff;
  color: var(--text);
  font-size:14px;

  transition: 0.4s;
}

.feature:hover{
  transform: scale(1.1);
}

/*Texto index Mobile*/
@media (max-width:768px){

  .info-site{
    flex-direction: row;
    text-align:center;
  }

  .logo-box img{
    width:150px;
    transition-delay:0.1s;
  }

   .info-site{
    flex-direction: column;
    text-align:center;
  }

  .features-box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 10px;
}
}

/*Lojas parceiras*/
.parceiros{
  padding:10px 20px;
  text-align:center;
  padding-bottom: 30px;
}

.titulo-parceiros{
  font-size:26px;
  margin-bottom:40px;
  color:#b300ff;
}

.parceiros-grid{
  display:flex;
  justify-content:center;
  gap:50px;
  flex-wrap:wrap;
}

.parceiro{
  background:var(--card);
  padding:20px;
  border-radius:10px;
  border:1px solid #b300ff;
  width:130px;

  display:flex;
  flex-direction:column;
  align-items:center;
  gap:10px;

  transition:0.3s;
}

.parceiro img{
  width:60px;
  height:60px;
  object-fit:contain;
}

.parceiro:hover{
  transform:scale(1.08);
  box-shadow:0 0 15px #b300ff;
}


/*Fundador*/
.fundadores {
  padding: 60px 40px;
  color: white;
}

.fundadores h2 {
  margin-bottom: 30px;
  font-size: 2rem;
  text-align: left;
  color: #b300ff;
}

.fundadores-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* 🔥 cada fundador estilo horizontal */
.fundador {
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;
}

/* imagem esquerda */
.fundador img {
  width: 160px;
  height: 160px;
  border-radius: 20px;
  object-fit: cover;
  position: relative;
  z-index: 2;
}

.img-wrap {
  position: relative;
  width: 160px;
  height: 160px;
  overflow: hidden;
}

/* BORDA ANIMADA */
.img-wrap::before {
  content: "";
  position: absolute;
  inset: -3px;
  border-radius: 24px;

  background: conic-gradient(
    from 0deg,
    #b300ff,
    #ff00ff,
    #f64fff,
    #d470ff
  );

  animation: girarBorda 6s linear infinite;

  z-index: 0;
}

/* FUNDO INTERNO (IMPORTANTE) */
.img-wrap::after {
  content: "";
  position: absolute;
  inset: 2px;
  border-radius: 20px;
  background: var(--card); /* 🔥 usa seu tema */
  z-index: 1;
}

/* IMAGEM */
.img-wrap img {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

/* ANIMAÇÃO */
@keyframes girarBorda {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* texto */
.fundador-info {
  max-width: 500px;
  color: var(--text);
}

.fundador-info h3 {
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 0px;
  color: var(--text);
}

.fundador-info p {
  margin-bottom: 15px;
  color: #ccc;
  color: var(--text2);
}

/* botões */
.socials a {
  margin-right: 10px;
  padding: 6px 12px;
  border: 1px solid #b300ff;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
  transition: 0.3s;
  color: var(--text);
}

.socials a:hover {
  background: #b300ff;
  transform: scale(1.08);
}

/*fundador mobile*/
@media (max-width: 768px) {
  .fundador {
    flex-direction: row; /* 🔥 força lado a lado */
    align-items: flex-start;
  }

  .fundador img {
    width: 100px;
    height: 100px;
  }
}


/*METAS DE JOGOS*/
.metas-container {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin: 15px 0 25px;
  flex-wrap: wrap;
  transition: 0.3s;
}

.meta-item {
  background: var(--card);
  border: 1px solid var(--bg);
  padding: 8px 14px;
  border-radius: 10px;
  font-size: 14px;
  color: var(--text2);
  box-shadow: 0 0 8px rgba(0,0,0,0.4);
  transition: 0.3s;
}

@media (max-width: 768px) {

  .parceiros-grid {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
  }

}

/*BARRA DE PESQUISA*/
.search-container {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

#searchInput {
  width: 280px;
  padding: 10px 15px;
  border-radius: 10px;
  border: 2px solid #b300ff;
  outline: none;
  background: var(--card);
  color: var(--text);
  font-size: 14px;
  transition: 0.2s;
}

#searchInput:focus {
  border-color: #b300ff;
  box-shadow: 0 0 10px #a855f7;
}