:root {  
  --bg: #111;
  --text: #ffffff;
  --sidebar-bg: #0a0a0a;
  --menu-bg: #1a1a1a;
  --card: #1e1e1e;
  --header-bg: #000000;
}

/* ========================= */
/* MODO ESCURO */
/* ========================= */

body.dark {
  --bg: #111;
  --text: #ffffff;
  --sidebar-bg: #0a0a0a;
  --menu-bg: #1a1a1a;
  --card: #1e1e1e;
  --header-bg: #000000;
}

/* ========================= */
/* MODO CLARO */
/* ========================= */

body.light {
  --bg: #f4f4f4;
  --text: #111111;
  --sidebar-bg: #ffffff;
  --menu-bg: #f0f0f0;
  --card: #ffffff;
  --header-bg: #eaeaea;
}

/* ========================= */
/* BODY */
/* ========================= */

body {
  margin: 0;
  font-family: Arial;
  background-color: var(--bg);
  color: var(--text);
  transition: 0.3s ease;
}

/* ========================= */
/* HEADER */
/* ========================= */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: var(--header-bg);
  transition: 0.3s;
}

#theme-Toggle {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  cursor: pointer;
}

.titulo {
  font-style: italic;
  font-size: 50px;
  color: #b300ff;
  transition: 0.3s;
}

header h1 {
  color: #b300ff;
  letter-spacing: 2px;
  font-size: 40px;
}

/* ========================= */
/* LAYOUT */
/* ========================= */

.layout {
  display: flex;
}

.sidebar {
  width: 190px; 
  background-color: var(--sidebar-bg);
  padding: 0 10px 0 40px;
  border-right: 3px solid #b300ff;   
  min-height: 100vh;
  transition: 0.3s ease;
}

.sidebar h2 {
  color: #b300ff;
  margin-bottom: 20px;
}

.sidebar li {
  margin: 15px 0;
  background-color: var(--menu-bg);
  padding: 10px;
  border-radius: 6px;
  transition: 0.3s;
}

.sidebar li:hover {
  color: #b300ff;
}

.menu-link {
  color: var(--text);
  text-decoration: none;
  font-size: 20px;
  transition: 0.3s;
}

.menu-link:visited {
  color: var(--text);
}

.menu-link:active {
  color: white;
}

.menu-link:hover { 
  color: #b300ff;
  transform: scale(1.10);
}

/* ========================= */
/* CONTENT */
/* ========================= */

.content {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  flex: 1;
  padding: 20px;
}

main h1 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}

/* ========================= */
/* TÍTULOS */
/* ========================= */

.titulo-ofertas {
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;
}

.titulo-sobre {
  font-size: 40px;
  text-align: center;
  color: #b300ff;
  margin-bottom: 30px;
}

/* ========================= */
/* GRID DE CARDS */
/* ========================= */

.cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas no desktop */
  gap: 60px;
  margin-top: 20px;
  opacity: 1;
  transition: 0.5s ease;
}

.cards-grid.fade-out {
   opacity: 0; 
}

.card-link {
  text-decoration: none;
  color: var(--text);
}

.game-title {
  color: var(--text);
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  transition: 0.3s;
}

.game-title:hover {
  color: #b300ff;
}

.price-box {
  position: absolute;
  bottom: 35px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
  padding-bottom: 20px;
}

.price-box .old {
  text-decoration: line-through;
  color: red;
  margin-right: 10px;
  font-size: 15px;
}

.price-box .por {
  color: #b300ff;
  margin-right: 10px;
}

.expired-msg {
  position: absolute;
  bottom: 35px;
  left: 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: #7e7e7e;
  font-size: 14px;
  font-size: 18px;
  padding-bottom: 20px;
  transition: 0.3s;
}

.expired-msg:hover {
  color: red;
}

.card h3 {
  position: absolute;
  top: 0px;
  right: 0px;
  color: #00ff00;
  font-size: 30px;
  text-shadow: 2px 2px 1px #b300ff;
  margin-top: 8px;
}

.plataforma {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 16px;
  font-weight: bold;
  color: var(--text);
  transition: 0.3s;
}

.plataforma:hover {
  color: #b300ff;
}


/* ========================= */
/* CARD */
/* ========================= */

.card {
  position: relative;
  background: var(--card);
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  height: 280px;
  transition: 0.3s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px #b300ff;
  transition: 0.3s;
}

.card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.card h3 {
  position: absolute;
  top: 0;
  right: 0;
  color: #00ff00;
  font-size: 30px;
  text-shadow: 2px 2px 1px #b300ff;
  margin: 8px;
}

.game-title {
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}

.game-title:hover {
  color: #b300ff;
}

/* ========================= */
/* PREÇOS */
/* ========================= */

.price-box {
  position: absolute;
  bottom: 35px;
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.price-box .old {
  text-decoration: line-through;
  color: red;
  margin-right: 10px;
}

.price-box .por {
  color: #b300ff;
  margin-right: 10px;
}

.price-box .new {
  font-weight: bold;
  color: rgb(0, 224, 0);
  font-size: 18px;
}

/* ========================= */
/* FILTROS */
/* ========================= */

.filtros {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  transition: 0.3s;
}

.filtro {
  margin: 0 15px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s;
}

.filtro.ativo {
  color: #b300ff;
}

/* ========================= */
/* PAGINAÇÃO */
/* ========================= */

.pagination {
  margin-bottom: 20px;
  text-align: center;
}

.pagination button {
  margin: 0 5px;
  padding: 8px 12px;
  border: none;
  background: #eee;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button.active {
  background: #b300ff;
  color: #fff;
  font-weight: bold;
}

/* ========================= */
/* RODAPÉ */
/* ========================= */

.rodape {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg);
  font-size: 13px;
  color: var(--text);
  padding: 5px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.rodape-link {
  color: var(--text);
  text-decoration: none;
  font-weight: bold;
  margin-left: 60px;
  transition: 0.3s ease;
}

.rodape-link:hover {
  color: #b300ff;
}

 .rodape {
    font-size: 11px;
    transition: 0.3s ease;
  }

.versao {
  color: var(--text);
  text-decoration: none;
  margin-left: 60px;
  font-size: 14px;
  transition: 0.3s;
}
.versao:hover {
  color: #b300ff;
}

/* ========================= */
/* SOBRE */
/* ========================= */

.btn-minycreeper {
  color: var(--text); 
  text-decoration: none;
  padding-left: 10px;
}

.btn-minycreeper:hover{
  color: #b300ff; 
}

.sobre-nos {
  padding: 40px;
  max-width: 900px;
  margin: 0 auto;
  color: var(--text);
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.sobre-nos.visible { 
  opacity: 1; 
  transform: translateY(0); /* volta ao normal */ 
}

main {
  flex: 1;
  padding: 20px;
}

main h1 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}

.titulo-sobre {
  font-size: 40px;
  text-align: center;
  color: #b300ff;
  margin-bottom: 30px;
}

.sobre-texto p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
  margin-left: 20px;
  padding-left: 20px;
  transition: 0.8s;
}

.missao-visao-valores h2 {
  color: #b300ff;
  margin-top: 25px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.missao-visao-valores p {
  font-size: 16px;
  margin-left: 20px;
}

.missao-visao-valores p {
  font-size: 16px;
  margin-left: 20px;
}

.equipe {
  color: #b300ff;
  margin-bottom: 10px;
}

.botoes-sobre {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.btn-sobre {
  padding: 10px 20px;
  border: 2px solid #a100ff;
  color: #a100ff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  transition: 0.3s ease;
}

.btn-sobre:hover {
  background-color: #a100ff;
  color: #fff;
  box-shadow: 0 0 10px #a100ff;
}

.btn-sobre.ativo {
  background-color: #a100ff;
  color: #fff;
}

/* ========================= */
/* ATUALIZAÇÕES */
/* ========================= */

.versão {
  color: var(--text);
}

/* ========================= */
/* MENU MOBILE */
/* ========================= */

.menu-toggle {
  display: none;
  position: fixed;
  left: 8px;
  top: 18px;
  font-size: 22px;
  background: #a100ff;
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

/* ========================= */
/* RESPONSIVO */
/* ========================= */

@media (max-width: 768px) {

  .layout {
    display: block;
  }

  .titulo-ofertas {
    font-size: 30px;
  }

  .menu-toggle {
    display: block;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: -220px;
    width: 150px;
    height: 100%;
    z-index: 1000;
  }

  .sidebar.active {
    left: 0;
  }

  .cards-grid {
    grid-template-columns: 1fr; /* 1 coluna no celular */
    gap: 30px;
    justify-items: center;
  }

  .titulo {
    font-size: 50px;
  }

  .rodape {
    font-size: 11px;
  }

}

/* ========================= */
/* ANIMAÇÃO */
/* ========================= */

  .content {
    transition: transform 0.3s ease;
  }

  .content.shift {
    transform: translateX(60px);
   }

  .titulo {
    font-size: 50px;
  }

  .rodape {
    font-size: 11px;
    transition: 0.3s ease;
  }